.productDisplay {
  display: flex;
  margin: 0px 170px;
}

.productDisplayLeft {
  display: flex;
  width: 50%;
  gap: 17px;
  margin-right: 10px;
}

.productDisplayLeftImgList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 20%;

  & img {
    width: 100%;
    height: auto;
  }
}

.productDisplayMainImg {
  width: 100%;
  height: auto;
}

.productDisplayRight {
  margin: 0px 70px;
  width: 50%;
  display: flex;
  flex-direction: column;

  & h1 {
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
  }

  & button {
    padding: 20px 40px;
    width: 300px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
  }
}

.ProductDisplayRigthStar {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}

.productDisplayRightPrice {
  display: flex;
  margin: 40px 0px;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}

.productDisplayRightPriceOld {
  color: #818181;
  text-decoration: line-through;
}

.productDisplayRightPriceNew {
  color: #ff4141;
}

.productDisplayRightDescripton {
  font-size: 20px;
}

.productDisplayRightSize {
  & h1 {
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
  }
}

.productDisplayRightSizes {
  display: flex;
  margin: 30px 0px;
  gap: 20px;

  & div {
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
  }
}

.productDisplayRightCategory {
  margin-top: 10px;
  font-size: 20px;

  & span {
    font-weight: 600;
  }
}

@media (max-width: 1280px) {
  .productDisplay {
    margin: 0px 60px;
  }

  .productDisplayLeft {
    gap: 10px;
  }

  .productDisplayLeftImgList {
    gap: 10px;

    & img {
      height: auto;
    }
  }

  .productDisplayMainImg {
    width: auto;
    height: 510px;
  }

  .productDisplayRight {
    margin: 0px 30px;

    & h1 {
      font-size: 22px;
    }

    & button {
      width: 150px;
      padding: 15px 0px;
      margin-bottom: 20px;
    }
  }

  .productDisplayRigthStar {
    gap: 3px;
    font-size: 13px;
  }

  .productDisplayRightPrice {
    margin: 10px 0px;
    font-size: 18px;
  }

  .productDisplayRightDescripton {
    font-size: 13px;
  }

  .productDisplayRightSize {
    & h1 {
      margin-top: 20px;
      font-size: 20px;
    }
  }

  .productDisplayRightSizes {
    & div {
      padding: 14px 20px;
    }
  }

  .productDisplayRightCategory {
    margin-top: 5px;
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .productDisplay {
    margin: 0px 30px;
  }

  .productDisplayLeft {
    gap: 5px;
  }

  .productDisplayLeftImgList {
    & img {
      height: auto;
    }
  }

  .productDisplayMainImg {
    width: 100%;
    height: auto;
  }

  .productDisplayRight {
    & h1 {
      font-size: 18px;
    }

    & button {
      width: 120px;
      padding: 10px 0px;
      margin-bottom: 10px;
      font-size: 14px;
    }
  }

  .productDisplayRigthStar {
    & img {
      width: 15px;
    }
  }

  .productDisplayRightDescripton {
    font-size: 12px;
  }

  .productDisplayRightSizes {
    margin-top: 10px 0px;

    & div {
      padding: 10px 16px;
      font-size: 12px;
    }
  }

  .productDisplayRightCategory {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .productDisplay {
    margin: 0px 30px;
  }

  .productDisplayLeft {
    gap: 0px;
    flex-direction: column-reverse;
  }

  .productDisplayLeftImgList {
    flex-direction: row;
    gap: 6px;
    width: auto;

    & img {
      width: 23%;
      height: auto;
    }
  }

  .productDisplayMainImg {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .productDisplayRight {
    & h1 {
      font-size: 14px;
    }

    & button {
      width: 140px;
      font-size: 10px;
    }
  }

  .productDisplayRigthStar {
    & img {
      width: 13px;
    }

    & h1 {
      margin-top: 10px;
    }
  }

  .productDisplayRightDescripton {
    font-size: 10px;
  }

  .productDisplayRightSizes {
    margin: 10px 0px;
    gap: 5px;

    & div {
      padding: 4px 11px;
      font-size: 10px;
    }
  }

  .productDisplayRightCategory {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .productDisplay {
    flex-direction: column;
  }

  .productDisplayLeft {
    width: 100%;
    margin: auto;
    flex-direction: row;
  }

  .productDisplayLeftImgList {
    width: auto;
    flex-direction: column;
    gap: 8px;
    margin-right: 10px;

    & img {
      height: 75px;
      width: auto;
    }
  }

  .productDisplayMainImg {
    width: 330px;
    height: auto;
  }

  .productDisplayRight {
    margin: 5px;
    width: 100%;

    & button{
      width: 160px;
      font-size: 15px;
      padding: 12px 0px;
    }

    & h1 {
      margin-top: 15px;
      font-size: 20px;
      font-weight: 500;
    }
  }
  .ProductDisplayRigthStar {
    & img {
      width: 15px;
    }
  }

  .productDisplayRightSizes {
    gap: 10px;
    margin: 20px 0px;

    & div{
      padding: 10px 16px;
      font-size: 14px;
    }
  }

  .productDisplayRightCategory{
    font-size: 16px;
  }
}
