.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
}

.navLogo {
  display: flex;
  align-items: center;
  gap: 10px;

  & p {
    color: #171717;
    font-size: 36px;
    font-weight: 600;
  }
}

.navMenu {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  gap: 50px;
  color: #626262;

  & li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
  }

  & hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
  }
}

.navLoginCart {
  display: flex;
  flex-direction: row;
  gap: 45px;

  & button {
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 25px;
    font-weight: 500;
    background: white;
    cursor: pointer;

    &:hover {
      background: #f9f9f9;
    }
    &:active {
      background: #f3f3f3;
    }
  }
}

.navCartCount {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -60px;
  border-radius: 11px;
  font-size: 18px;
  background: red;
  color: white;
}

.navDropdown {
  display: none;
}

@media (max-width: 1280px) {
  .navbar {
    padding: 12px 50px;

    & p {
      font-size: 25px;
    }
    & img {
      width: 40px;
    }
  }

  .navMenu {
    gap: 30px;
    font-size: 16px;
  }
  .navLoginCart {
    gap: 30px;

    & button {
      width: 120px;
      height: 45px;
      font-size: 16px;
    }
  }
  .navCartCount {
    margin-left: -40px;
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .navbar {
    padding: 12px 30px;
  }

  .navMenu {
    gap: 25px;
    font-size: 14px;
  }

  .navLoginCart {
    & img {
      width: 30px;
    }

    & button {
      width: 80px;
      height: 35px;
      font-size: 14px;
    }
  }

  .navCartCount {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 800px) {
  .navbar {
    padding: 10px 0px;
  }

  .navDropdown {
    display: block;
    width: 30px;
    transform: rotate(0deg);
    transition: all 0.5s;
  }

  .open {
    transform: rotate(180deg);
  }

  .navMenu {
    display: none;
    height: 80px;
    width: 100%;
    position: absolute;
    background: white;
    justify-content: center;
    top: 50px;
  }

  .navMenuVisible {
    display: flex;
  }
}

@media (max-width: 500px) {
  .navbar {
    padding: 8px 0px;
    gap: 0;
  }

  .navLogo {
    transform: scale(0.8);
  }

  .navMenu {
    height: 70px;
    top: 50px;
  }
  .navLoginCart {
    transform: scale(0.8);
  }
}
